.header {
  background-color: var(--background-primary);
  padding: var(--spacing-xl);
  box-shadow: var(--card-shadow);
}

.header-title {
  font-size: var(--heading-1-size);
  color: var(--heading-text);
  font-weight: bold;
}

.header-subtitle {
  font-size: var(--heading-3-size);
  color: var(--secondary-text);
}

 